
<div *ngIf="gameOver">
  <h1>
    Game Over
  </h1>
  <p>Result {{score}}/{{words.length}}</p>
  <br>
  <button type="button" class="btn btn-warning" (click)="newGame()">Play Again</button>
</div>


<div *ngIf="!gameOver">
  <h1 *ngIf="!word" class="clickable">
    <a (click)="start()">Start</a>
  </h1>


  <div *ngIf="word">
    <h1>{{word.category}}</h1>
    <p>Hint:{{word.hint}}</p>
    <br>
    <p>Tries: {{chances}}</p>
    <br>
    <span *ngFor="let letter of letters; let i = index">
      <input id="cont{{i}}" type="text" />
    </span>

    <br>
    <br>

    <span *ngFor="let letterto of letterToGuess let i = index">
      <button id="btn{{i}}" type="button" class="btn btn-light"  (click)="guess(letterto, i)" >{{letterto}}</button>
    </span>

    <br>
    <br>
    <br>
    <p>Result {{score}}/{{words.length}}</p>

    <br>

    <button type="button" class="btn btn-danger" (click)="clear()">Skip</button>

  </div>
</div>



